@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1e8ae3;
    --color-secondary: '';
    --color-light: #fff;
    --color-dark: '';
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
}

img {
    max-width: 100%;
}

.btn {
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;

}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid #00000027;
}

.wrapper .logo {
    flex-basis: 20%;
}

.wrapper .logo img {
    width: 150px;
}

.wrapper .menu {
    flex-basis: 60%;
}

.wrapper .menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.wrapper .menu ul a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 5px;
    position: relative;
    border: 1px solid;

}

.wrapper .menu ul a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0px;
    background: var(--color-primary);
    transition: all .5s;
}

.wrapper .menu ul a:hover::after {
    width: 100%;
}

.wrapper .cart {
    flex-basis: 20%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.wrapper .cart img {
    width: 30px;
}

.hero-banner {
    height: 86vh;
    display: flex;
    align-items: center;

}

.hero-banner .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 0 10px;
    background: var(--color-primary);
    color: var(--color-light);
    position: relative;

}

.hero-banner .col {
    flex-basis: 50%;
    max-width: 50%;
    height: 100%;
}

.hero-banner .col h2 {
    margin-bottom: 20px;
    width: 100%;
    font-size: 40px;
}

.hero-banner .col p {
    font-size: 20px;
}

.hero-banner .col-1 button {
    color: var(--color-primary);
    background: var(--color-light);
    position: absolute;
    bottom: 10px;
}

.hero-banner .col .hero-img {
    height: 100%;
    width: 100%;
}