@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1e8ae3;
    --color-secondary: '';
    --color-light: #fff;
    --color-dark: '';
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.btn {
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: 700;

}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid #00000027;
}

.wrapper .logo {
    flex-basis: 20%;
}

.wrapper .logo img {
    width: 150px;
}

.wrapper .menu {
    flex-basis: 60%;
}

.wrapper .menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.wrapper .menu ul a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    padding: 8px 10px;
    margin: 0 5px;
    position: relative;

}

.wrapper .menu ul a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0px;
    background: var(--color-primary);
    transition: all .5s;
}

.wrapper .menu ul a:hover::after {
    width: 100%;
}

.wrapper .cart {
    flex-basis: 20%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.wrapper .cart img {
    width: 30px;
}

.hero-banner {
    display: flex;
    align-items: center;
    background: var(--color-primary);

}

.hero-banner .col-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    padding: 0 10px;
    color: var(--color-light);

}

.hero-banner .col {
    flex-basis: 50%;
    max-width: 50%;

}

.hero-banner .col h2 {
    margin-bottom: 20px;
    width: 100%;
    font-size: 40px;
}

.hero-banner .col p {
    font-size: 20px;
}

.hero-banner .col-1 button {
    color: var(--color-primary);
    background: var(--color-light);
    margin-top: 50px;
    font-size: 22px;
    border: 1px solid var(--color-light);
    transition: all .3s;

}

.hero-banner .col-1 button:hover {
    background: var(--color-primary);
    color: var(--color-light);
}

.hero-banner .col .hero-img {
    display: block;
    aspect-ratio: 14/12;
    object-fit: cover;

}

/* blog-section */
.blog-section {}

.section-title {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.blog-section .blogs {
    width: 90%;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blog-section .blogs .blog {
    flex-basis: 31%;
    margin: 10px;

}

.blog-section .blogs .blog .blog-content {}

.blog-section .blogs .blog .blog-content .info {
    font-weight: 200;
    color: rgb(94, 90, 90);
    display: flex;
    font-size: 15px;
    gap: 10px;
}

.blog-section .blogs .blog .blog-content .info span {
    font-weight: 400;
    color: rgb(33, 32, 32);


}

.blog-section .blogs .blog .blog-content h2 {
    padding: 10px 0;
}

.blog-section .blogs .blog img {
    width: 100%;
    aspect-ratio: 10/11;
    object-fit: cover;

}

.blog-section .blogs .blog .blog-btn {
    margin-top: 10px;

    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
}

.blogs-btn {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogs-btn a {
    text-decoration: none;
    color: var(--color-light);
    background: var(--color-primary);
}